[Unit]
Description=Port listener for Minecraft (.socket)
Wants=network-online.target
After=network-online.target

[Socket]
ListenStream=25565
# Optional : Wait for data, not just an opened connection. Will be less sensitive to drive-by traffic.
#DeferAcceptSec=3

[Install]
WantedBy=sockets.target
